<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8557954373328089~1505065151</string>
	<key>CLIENT_ID</key>
	<string>261258900607-mriu88p6uc8905unq2tjlhtglhbgqdcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261258900607-mriu88p6uc8905unq2tjlhtglhbgqdcl</string>
	<key>API_KEY</key>
	<string>AIzaSyAVBe6eUZ-zz3Eiao1cpMRmyeQu7qe_ZnA</string>
	<key>GCM_SENDER_ID</key>
	<string>261258900607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muhtar.DealApp</string>
	<key>PROJECT_ID</key>
	<string>dealapp-f1ce1</string>
	<key>STORAGE_BUCKET</key>
	<string>dealapp-f1ce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:261258900607:ios:aa6c06dad215f8bcdc7b4a</string>
</dict>
</plist>
