<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModePlane</string>
	</array>
	<key>Item 0</key>
	<string>Pedestrian</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Permit location info for listing nearby businesses</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permit location info for listing nearby businesses</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict/>
	<key>NSCameraUsageDescription</key>
	<string>Give access to your camera</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
